/*base css*/
body {
	background-color: #1081DE;
	color: white;
}

h1 {
	font-size: 400%;	
}

h2 {
	text-align: center;
  font-size: 230%;
}

h1, h2 {
	font-family: 'Caveat Brush', cursive;
}

p,
a {
	font-family: 'Architects Daughter', cursive;
	font-size: 150%;
}

a {
	color: white;
	text-decoration: underline;
}

a:hover {
	color: #BDDBF4;
}

#my-nav {
	margin: auto;
	padding-top: 40px;
	width: 80%;
	max-width: 500px;
}

#my-nav > a {
	font-size: 135%;
	opacity: 0.5;
	text-decoration: none;
}

#home {
	float: left;
}

#contact-me {
	float: right;
}

#my-wrapper {
	margin: 55px auto 0px auto;
	width: 75%;
	max-width: 500px;
}

/*current weather css*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}

/*html, body {
  background: #EDF2F4;
}*/

.weather-app, .weather-app_main, .weather-app_main__information {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 25vh;
  margin: 0 auto;
  width: 400px;
}
.weather-app_main {
  background: #F5DB5C;
  width: auto;
  height: 11em;
  box-shadow: 0px 9px 30px #CCC;
  border-radius: 10px;
  transform: scale(0);
  animation: bounce-in 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}
.weather-app_main__information h1, .weather-app_main__information h2, .weather-app_main__information h3 {
  color: rgba(43, 45, 66, 0.7);
  margin: 0.57em 0;
  font-size: 1.7em;
}
.weather-app_main__information img {
  width: 65px;
  height: 65px;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}


